__pycache__
*.pyc
*.pyo
*.pyd
.ruff_cache
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.git*
.poetry
.vscode
.dockerignore
Dockerfile
*.md
.mypy*
.pylint*
.pypirc*
scripts
config
other
env_*
*_local.*

